.wishlist-section {
    margin: 20px;
    background: #fff9f9;
    padding: 15px;
    border-radius: 8px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #eee;
    color: #600;
}
.add-cart-btn {
    background: red;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
}
.out-stock-btn {
    background: grey;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
}
.remove-btn {
    margin-left: 10px;
    color: black;
    font-size: 18px;
}
