{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<div class="blogs-section">
    <h1>Latest Blog Posts</h1>
    <div class="blogs">
        {% for blog in blogs %}
        <div class="blog-card">
            <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
            <div class="date">{{ blog.date }}</div>
            <h2>{{ blog.title|truncatechars:50 }}</h2>
            <a href="{% url 'blog_detail' blog.pk %}">
                <button>Read More</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
